<section class="section1-container">

    <div class="section-text-container">
        <h2 data-aos="fade-down" data-aos-duration="1000" class="section-title" data-aos-delay="500">{{ title }} </h2>
        <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="750">{{ description }}</p>
    </div>


</section>